@model HomePlant.ViewModels.LoginVM

<h2>@Localizer["Auth_Login_Title"]</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">

    <div class="mb-3">
        <label>@Localizer["Auth_Email"]</label>

        <input asp-for="Email"
               class="form-control" />
    </div>

    <div class="mb-3">
        <label>@Localizer["Auth_Password"]</label>

        <input asp-for="Password"
               type="password"
               class="form-control" />
    </div>

    <button class="btn btn-primary">
        @Localizer["Auth_Login_Btn"]
    </button>

</form>