@model HomePlant.Models.ArticleModel

<h2>
    @Model.Title
</h2>

<hr />

@if (!string.IsNullOrEmpty(Model.CoverImage))
{
    <img src="@Model.CoverImage"
         class="img-fluid mb-3" />
}

<div>
    @Html.Raw(Model.Content)
</div>